.headingCtr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:var(--header-height);
    /* border:1px solid red; */
}
.backBtn{
    /* flex:1; */
    text-align: start;
    margin: auto;



}
.screenTitle{
    flex:1;
    /* text-align: center; */
    /* margin: auto; */
    /* border: 1px solid yellow; */
    display: flex;
	
	flex-direction: row;
	
	align-items: center;
    justify-content: center;

}
.refreshBtn{
    /* flex:1; */
    text-align: end;
    display: flex;
    justify-content: flex-end;
    margin: auto;

}

.inputCtr{
    flex: 1;
}
.btnCtr{
  
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(69 68 68 / 50%);
    border-radius: 50%;
   
    padding: 10px;
    border: none;
}

.logoDiv{
    width: 350px;
    
   
}


/* Mobile */
@media (max-width: 700px) {


    .logoDiv{
        width: 100%;
      
        /* background: red; */
  
    
    }

  
   
   
  }