.headingCtr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
}

.backBtn {
    flex: 1;
    text-align: start;
    min-width: 50px;



}

.screenTitle {
    flex: 4;

    padding-top: 5px;
    display: flex;

    flex-direction: row;

    justify-content: center;

}

.refreshBtn {
    flex: 1;
    text-align: end;
    display: flex;
    justify-content: flex-end;

}

.inputCtr {
    flex: 1;
}

.btnCtr {

    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(69 68 68 / 50%);
    border-radius: 50%;

    padding: 10px;
    border: none;
}

.logoDiv {
    width: 350px;


}


/* Mobile */
@media (max-width: 700px) {


    .backBtn {
        flex: 1;


    }

    .screenTitle {
        flex: 7;


    }

    .refreshBtn {

        flex: 1;
    }

    .logoDiv {
        width: 100%;



    }




}