
  
  .defaultBtn{
  

    background: none;
    color:var(--text-white);
    font-family: var(--font-sohne-buch);
  border: 1px solid var(--text-white);
  border-radius: 20px;
  font-size: var(--medium-font-size);
  /* padding: 24px 0px; */

  display: flex; 
  align-items: center; 
  justify-content: center; 
  min-height: 60px;
  width: 100%;
  text-align: center;
  
  }
  
  .homeBtn{
    background:var(--primary-color) !important; 
    border:none;
   
  }
  .invertedBtn{
    background:var(--text-white); 
    color:black ;
  }

  .footerCtr {

    width: 100%;
    height: var(--footer-height);
    display: flex;
    align-items: center;
    
  }
  