.headingCtr{
    font-size: 19px;
    text-align: center;
    font-family: var(--font-bagoss-trial);
}

.inputField {
    width: 100% !important;
  
    height: 60px;
    padding: 0px 12px 0px 12px;
    gap: 0px;
    border-radius: 18px;
    justify-content: space-between;
    /* opacity: 0px; */
    border:1px solid white;
  
    border: 1px solid var(--text-gray-color);
    background: var(--background-color);
    color: var(--text-gray-color);
    font-size: 16px;
  
  }
  .errorInput{
    border: 2px solid red;
  }
  .inputField:focus {
  outline:none;
}
.errorMsg{ color: red; 
  margin-top: 20px;
  
  font-size: 12px; }


  .lottieContainer{
    width: 100%;
  margin: 20px auto;
  height: 100px;
  }
  


.btnCtr {
  position: fixed;
  right: 30px;
  bottom: 32px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: var(--text-gray-color);
  border-radius: 50%;
  display: flex;
  padding: 10px;
  border: none;
}
