.lottieCtr{
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.formBody{ 
    flex: 2;
    display: flex;
     flex-direction: column;
}

.labelCtr{
    flex: 1;
    font-family: var(--font-bagoss-trial);
    text-align: center;
    font-size: var(--medium-font-size);
    margin:20px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* .errorMsg{ color: red; 
    margin-top: 20px;
    
    font-size: 12px; } */