.swiperCtr {


    justify-content: center;
    height: calc(100vh - (2 * var(--header-height)) - var(--body-padding));
    vertical-align: middle;
}

.imgSection {
    width: 100%;
    height: 100%;
    background: gray;
}

.imgCtr {

    position: relative;
    overflow: hidden;
    height: 65%;
    transform: rotate(180deg);
    margin: 20px 0px 40px 0px;
    text-align: center;
    align-items: center;
}

.swipeTxt {

    text-align: center;
    font-family: var(--bago);
    font-family: var(--font-bagoss-trial);
    text-wrap: unset;

}

.swipeGrayTxt {
    color: var(--text-gray-color)
}

/* Tablet and Smaller Desktop */

@media (min-width: 701px) and (max-width: 1120px) {
    .imgCtr {
        position: relative;
        overflow: hidden;
        height: 50%;

        margin: 20px 0px 40px 0px;
        text-align: center;
        align-items: center;
    }

}

/* Mobile */
@media (max-width: 700px) {

    .imgCtr {
        position: relative;
        overflow: hidden;
        height: 35%;

        margin: 20px 0px 40px 0px;
        text-align: center;
        align-items: center;
    }



}