.main {

  justify-content: space-between;
  align-items: center;
  padding: 20px;

  min-height: 100vh;
}

.swiperSection {


  height: calc(100vh - var(--header-height) - var(--footer-height) - (2 * var(--body-padding)));

}

.formSection {


  height:calc(100vh - ( var(--header-height)) - (2 * var(--body-padding)));
 display: flex;
  flex-direction: column;
  justify-content: space-around;

}



.formCtr {
  width: 100%;
  display: flex;
  flex-direction: row;
  height:var(--footer-height);
  align-items: center;
}

.inputCtr {
  flex: 1;
}

