.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  min-height: 100vh;
}

.heading {
  padding: 20px 10px;
}



.center {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid yellow; */
  width: 100%;
}



.homeDescription {
  text-align: center;

  flex: 1;
  font-family: var(--font-bagoss-trial);

}



.gradientText {
  background: linear-gradient(90deg, #FABBFF 0%, #B179FF 35%);

  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

/* .logo {
  transform: rotate(180deg);
} */


/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

.imgContainer {
  position: relative;
  height: 50vh;
  /* width: 90vw; */
  /* width: 100%; */

}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .imgContainer {
    position: relative;
    height: 40vh;

  }

}

/* Mobile */
@media (max-width: 700px) {


  .imgContainer {
    position: relative;
    height: 40vh;


  }





}


@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  /* .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}